.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    width: 992px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Chrome, Safari, Opera */
::-webkit-scrollbar {
  width: 0.0em; /* 스크롤바의 너비 */
}

::-webkit-scrollbar-thumb {
  background-color: #FFFFFF; /* 스크롤바 색상 */
}

::-webkit-scrollbar-track {
  background-color: #FFFFFF; /* 스크롤바 트랙 색상 */
}


.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.logo-container img {
  max-width: 300px;
}
